:root {
  --main-bg: rgb(40,40,59);
  --calendar-border: rgb(220,220,255);
  --calendar-bg: #fff;
  --calendar-standout:rgb(40,40,59);
  --calendar-color:#444;
  --calendar-fade-color:rgba(139, 139, 139, 0.288);
  --body-color:#444;
}


html, body {
  height:100%;
}
body {
  font-size:100%;
  line-height:1.5;
  font-family: "Roboto Condensed", sans-serif;
  background:var(--main-bg);
  background-image:linear-gradient(var(--main-bg) 0%, darken(var(--main-bg),12%) 100%);
  color:var(--body-color);
}

*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }


.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid var(--calendar-border);
  border-radius:5px;
  background:var(--calendar-bg);
  
}
table {
  clear:both;
  width:100%;
  border:1px solid var(--calendar-border);
  border-radius:3px;
  border-collapse:collapse;
  color:var(--calendar-color);
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid var(--calendar-border);
  border-top:1px solid var(--calendar-border);
  width:100% / 7;
}
td.not-current {
  color:var(--calendar-fade-color);
}
td.normal {}
td.today {
  font-weight:700;
  color:var(--calendar-standout);
  font-size:1.5em;
}
thead td {
  border:none;
  color:var(--calendar-standout);
  text-transform:uppercase;
  font-size:1.5em;
}

#dataWithEvent {
  background-color: rgb(88, 174, 255);
}

#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:var(--calendar-fade-color);
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  
}
#btnPrev:hover {
  color:var(--calendar-standout);
  font-weight:bold;
}
#btnNext:hover {
  color:var(--calendar-standout);
  font-weight:bold;
}